<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender nom="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
    </appender>

    <appender nom="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
    </appender>

    <logger nom="dev.service" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger nom="org.springframework.web" level="DEBUG"/>

</configuration>